.house__img-wrap
  position relative
  
.house__img
  width 1612px

.house__appartment1-17-link,
.house__appartment1-16-link,
.house__appartment1-15-link,
.house__appartment1-14-link,
.house__appartment1-13-link,
.house__appartment1-12-link,
.house__appartment1-11-link,
.house__appartment1-10-link,
.house__appartment1-9-link,
.house__appartment1-8-link,
.house__appartment1-7-link,
.house__appartment1-6-link,
.house__appartment1-5-link,
.house__appartment1-4-link,
.house__appartment1-3-link,
.house__appartment1-2-link,
.house__appartment1-1-link
  position: absolute;
  top: 131px;
  left: 193px;
  z-index: 20;
  
  display: block;
  width: 325px;
  height: 50px;
  
  transform: rotateZ(20deg);
  &:hover ~ .house__appartment1-17-img
    opacity 0.6
    
.house__appartment1-16-link
  top: 186px;
  transform: rotateZ(18deg);
  height: 36px;
  &:hover ~ .house__appartment1-16-img
    opacity 0.6
    
.house__appartment1-15-link
  top: 232px;
  transform: rotateZ(18deg);
  height: 32px;
  &:hover ~ .house__appartment1-15-img
    opacity 0.6
    
.house__appartment1-14-link
  top 273px
  transform: rotateZ(16deg);
  height: 32px;
  &:hover ~ .house__appartment1-14-img
    opacity 0.6
    
.house__appartment1-13-link
  top: 317px;
  transform: rotateZ(13deg);
  height: 32px;
  &:hover ~ .house__appartment1-13-img
    opacity 0.6
    
.house__appartment1-12-link
  top: 361px;
  transform: rotateZ(11deg);
  height: 32px;
  &:hover ~ .house__appartment1-12-img
    opacity 0.6
    
.house__appartment1-11-link
  top: 403px;
  transform: rotateZ(10deg);
  height: 32px;
  &:hover ~ .house__appartment1-11-img
    opacity 0.6
    
.house__appartment1-10-link
  top: 445px;
  transform: rotateZ(8deg);
  height: 32px;
  &:hover ~ .house__appartment1-10-img
    opacity 0.6

.house__appartment1-9-link
  top: 489px;
  transform: rotateZ(5deg);
  height: 32px;
  &:hover ~ .house__appartment1-9-img
    opacity 0.6
    
.house__appartment1-8-link
  top: 531px;
  transform: rotateZ(4deg);
  height: 32px;
  &:hover ~ .house__appartment1-8-img
    opacity 0.6
    
.house__appartment1-7-link
  top: 575px;
  transform: rotateZ(2deg);
  height: 32px;
  &:hover ~ .house__appartment1-7-img
    opacity 0.6
    
.house__appartment1-6-link
  top: 617px;
  transform: rotateZ(0deg);
  height: 32px;
  &:hover ~ .house__appartment1-6-img
    opacity 0.6
    
.house__appartment1-5-link
  top: 659px;
  transform: rotateZ(-2deg);
  height: 32px;
  &:hover ~ .house__appartment1-5-img
    opacity 0.6
    
.house__appartment1-4-link
  top: 704px;
  transform: rotateZ(-4deg);
  height: 32px;
  &:hover ~ .house__appartment1-4-img
    opacity 0.6
    
.house__appartment1-3-link
  top: 746px;
  transform: rotateZ(-6deg);
  height: 32px;
  &:hover ~ .house__appartment1-3-img
    opacity 0.6
    
.house__appartment1-2-link
  top: 788px;
  transform: rotateZ(-8deg);
  height: 32px;
  &:hover ~ .house__appartment1-2-img
    opacity 0.6
    
.house__appartment1-1-link
  top: 834px;
  transform: rotateZ(-10deg);
  height: 52px;
  &:hover ~ .house__appartment1-1-img
    opacity 0.6
  
.house__appartment1-17-img,
.house__appartment1-16-img,
.house__appartment1-15-img,
.house__appartment1-14-img,
.house__appartment1-13-img,
.house__appartment1-12-img,
.house__appartment1-11-img,
.house__appartment1-10-img,
.house__appartment1-9-img,
.house__appartment1-8-img,
.house__appartment1-7-img,
.house__appartment1-6-img,
.house__appartment1-5-img,
.house__appartment1-4-img
.house__appartment1-3-img,
.house__appartment1-2-img,
.house__appartment1-1-img
  position absolute
  top: 38px;
  left: 88px;
  width 439px
  height 239px
  fill #20c1e6
  opacity 0
  
  transition 0.2s ease
  
.house__appartment1-16-img
  top 82px
  
  width 436px
  
.house__appartment1-15-img
  top 125px
  
  width 434px
  
.house__appartment1-14-img  
  top: 167px;
  width: 431px;
  
.house__appartment1-13-img  
  top: 211px;
  width: 431px;
  
.house__appartment1-12-img  
  top: 253px;
  width: 431px;
  
.house__appartment1-11-img
  top: 296px;
  width: 431px;
  
.house__appartment1-10-img
  top: 340px;
  width: 431px;
  
.house__appartment1-9-img
  top: 382px;
  width: 431px;
  
.house__appartment1-8-img
  top: 425px;
  width: 431px;
  
.house__appartment1-7-img
  top: 468px;
  width: 431px;
  
.house__appartment1-6-img
  top: 514px;
  left: 85px;
  width: 431px;
  
.house__appartment1-5-img
  top: 559px;
  left: 85px;
  width: 431px;
  
.house__appartment1-4-img
  top: 602px;
  left: 85px;
  width: 431px;
  
.house__appartment1-3-img
  top: 645px;
  left: 85px;
  width: 431px;
  
.house__appartment1-2-img
  top: 688px;
  left: 85px;
  width: 431px;
  
.house__appartment1-1-img
  top: 736px;
  left: 82px;
  width: 431px;
  
  
.house__appartment2-17-link,
.house__appartment2-16-link,
.house__appartment2-15-link,
.house__appartment2-14-link,
.house__appartment2-13-link,
.house__appartment2-12-link,
.house__appartment2-11-link,
.house__appartment2-10-link,
.house__appartment2-9-link,
.house__appartment2-8-link,
.house__appartment2-7-link,
.house__appartment2-6-link,
.house__appartment2-5-link,
.house__appartment2-4-link,
.house__appartment2-3-link,
.house__appartment2-2-link,
.house__appartment2-1-link
  position: absolute;
  top: 239px;
  left: 537px;
  z-index: 20;
  display: block;
  width: 186px;
  height: 24px;
  transform: rotateZ(19deg);
  &:hover ~ .house__appartment2-17-img
    opacity 0.6
    
.house__appartment2-16-link
  top: 275px;
  transform: rotateZ(18deg);
  &:hover ~ .house__appartment2-16-img
    opacity 0.6
    
.house__appartment2-15-link
  top: 309px;
  transform: rotateZ(15deg);
  &:hover ~ .house__appartment2-15-img
    opacity 0.6
    
.house__appartment2-14-link
  top: 344px;
  transform: rotateZ(15deg);
  &:hover ~ .house__appartment2-14-img
    opacity 0.6
    
.house__appartment2-13-link
  top: 377px;
  transform: rotateZ(12deg);
  &:hover ~ .house__appartment2-13-img
    opacity 0.6
    
.house__appartment2-12-link
  top: 413px;
  transform: rotateZ(11deg);
  &:hover ~ .house__appartment2-12-img
    opacity 0.6
    
.house__appartment2-11-link
  top: 448px;
  transform: rotateZ(9deg);
  &:hover ~ .house__appartment2-11-img
    opacity 0.6
    
.house__appartment2-10-link
  top: 482px;
  transform: rotateZ(7deg);
  &:hover ~ .house__appartment2-10-img
    opacity 0.6
    
.house__appartment2-9-link
  top: 516px;
  transform: rotateZ(5deg);
  &:hover ~ .house__appartment2-9-img
    opacity 0.6
    
.house__appartment2-8-link
  top: 551px;
  transform: rotateZ(4deg);
  &:hover ~ .house__appartment2-8-img
    opacity 0.6
    
.house__appartment2-7-link
  top: 585px;
  transform: rotateZ(2deg);
  &:hover ~ .house__appartment2-7-img
    opacity 0.6
    
.house__appartment2-6-link
  top: 619px;
  transform: rotateZ(0deg);
  &:hover ~ .house__appartment2-6-img
    opacity 0.6
    
.house__appartment2-5-link
  top: 653px;
  transform: rotateZ(-2deg);
  &:hover ~ .house__appartment2-5-img
    opacity 0.6
    
.house__appartment2-4-link
  top: 688px;
  transform: rotateZ(-4deg);
  &:hover ~ .house__appartment2-4-img
    opacity 0.6
    
.house__appartment2-3-link
  top: 725px;
  transform: rotateZ(-5deg);
  left: 533px;
  &:hover ~ .house__appartment2-3-img
    opacity 0.6
    
.house__appartment2-2-link
  top: 759px;
  transform: rotateZ(-7deg);
  left: 533px;
  &:hover ~ .house__appartment2-2-img
    opacity 0.6
    
.house__appartment2-1-link
  top: 794px;
  transform: rotateZ(-7deg);
  left: 533px;
  height: 37px;
  &:hover ~ .house__appartment2-1-img
    opacity 0.6
    
.house__appartment2-17-img,
.house__appartment2-16-img,
.house__appartment2-15-img,
.house__appartment2-14-img,
.house__appartment2-13-img,
.house__appartment2-12-img,
.house__appartment2-11-img,
.house__appartment2-10-img,
.house__appartment2-9-img,
.house__appartment2-8-img,
.house__appartment2-7-img,
.house__appartment2-6-img,
.house__appartment2-5-img,
.house__appartment2-4-img,
.house__appartment2-3-img,
.house__appartment2-2-img,
.house__appartment2-1-img
  position absolute
  top: 198px;
  left: 521px;
  width: 202px;
  height: 112px;
  fill: #20c1e6;
  opacity: 0;
  transition: 0.2s ease;
  
.house__appartment2-16-img
  top: 233px;
  
.house__appartment2-15-img
  top: 267px;
  
.house__appartment2-14-img
  top: 300px;
  
.house__appartment2-13-img
  top: 335px;
  
.house__appartment2-12-img
  top: 369px;
  
.house__appartment2-11-img
  top: 403px;
  
.house__appartment2-10-img
  top: 437px;
  
.house__appartment2-9-img
  top: 471px;
  
.house__appartment2-8-img
  top: 506px;
  
.house__appartment2-7-img
  top: 541px;
  
.house__appartment2-6-img
  top: 577px;
  
.house__appartment2-5-img
  top: 611px;
  
.house__appartment2-4-img
  top: 646px;
  
.house__appartment2-3-img
  top: 680px;
  
.house__appartment2-2-img
  top: 715px;
  
.house__appartment2-1-img
  top: 751px;
  
.house__appartment3-17-link,
.house__appartment3-16-link,
.house__appartment3-15-link,
.house__appartment3-14-link,
.house__appartment3-13-link,
.house__appartment3-12-link,
.house__appartment3-11-link,
.house__appartment3-10-link,
.house__appartment3-9-link,
.house__appartment3-8-link,
.house__appartment3-7-link,
.house__appartment3-6-link,
.house__appartment3-5-link,
.house__appartment3-4-link,
.house__appartment3-3-link,
.house__appartment3-2-link,
.house__appartment3-1-link
  position: absolute;
  top: 303px;
  left: 730px;
  z-index: 20;
  display: block;
  width: 131px;
  height: 20px;
  transform: rotateZ(17deg);
  &:hover ~ .house__appartment3-17-img
    opacity 0.6
    
.house__appartment3-16-link
  top: 331px;
  &:hover ~ .house__appartment3-16-img
    opacity 0.6
    
.house__appartment3-15-link
  top: 360px;
  transform: rotateZ(14deg);
  &:hover ~ .house__appartment3-15-img
    opacity 0.6
    
.house__appartment3-14-link
  top: 388px;
  transform: rotateZ(14deg);
  &:hover ~ .house__appartment3-14-img
    opacity 0.6
    
.house__appartment3-13-link
  top: 418px;
  transform: rotateZ(14deg);
  &:hover ~ .house__appartment3-13-img
    opacity 0.6
    
.house__appartment3-12-link
  top: 448px;
  transform: rotateZ(11deg);
  &:hover ~ .house__appartment3-12-img
    opacity 0.6
    
.house__appartment3-11-link
  top: 476px;
  transform: rotateZ(9deg);
  &:hover ~ .house__appartment3-11-img
    opacity 0.6
    
.house__appartment3-10-link
  top: 506px;
  transform: rotateZ(7deg);
  &:hover ~ .house__appartment3-10-img
    opacity 0.6
    
.house__appartment3-9-link
  top: 536px;
  transform: rotateZ(5deg);
  &:hover ~ .house__appartment3-9-img
    opacity 0.6
    
.house__appartment3-8-link
  top: 563px;
  transform: rotateZ(5deg);
  &:hover ~ .house__appartment3-8-img
    opacity 0.6
    
.house__appartment3-7-link
  top: 592px;
  transform: rotateZ(2deg);
  &:hover ~ .house__appartment3-7-img
    opacity 0.6
    
.house__appartment3-6-link
  top: 622px;
  transform: rotateZ(0deg);
  &:hover ~ .house__appartment3-6-img
    opacity 0.6
    
.house__appartment3-5-link
  top: 650px;
  transform: rotateZ(0deg);
  &:hover ~ .house__appartment3-5-img
    opacity 0.6
    
.house__appartment3-4-link
  top: 680px;
  transform: rotateZ(-3deg);
  &:hover ~ .house__appartment3-4-img
    opacity 0.6
    
.house__appartment3-3-link
  top: 710px;
  transform: rotateZ(-5deg);
  &:hover ~ .house__appartment3-3-img
    opacity 0.6
    
.house__appartment3-2-link
  top: 738px;
  transform: rotateZ(-6deg);
  &:hover ~ .house__appartment3-2-img
    opacity 0.6
    
.house__appartment3-1-link
  top: 768px;
  transform: rotateZ(-6deg);
  height: 32px;
  &:hover ~ .house__appartment3-1-img
    opacity 0.6
    
.house__appartment3-17-img,
.house__appartment3-16-img,
.house__appartment3-15-img,
.house__appartment3-14-img,
.house__appartment3-13-img,
.house__appartment3-12-img,
.house__appartment3-11-img,
.house__appartment3-10-img,
.house__appartment3-9-img,
.house__appartment3-8-img,
.house__appartment3-7-img,
.house__appartment3-6-img,
.house__appartment3-5-img,
.house__appartment3-4-img,
.house__appartment3-3-img,
.house__appartment3-2-img,
.house__appartment3-1-img
  position: absolute;
  top: 274px;
  left: 717px;
  width: 146px;
  height: 85px;
  fill: #20c1e6;
  opacity: 0;
  transition: 0.2s ease;
  
.house__appartment3-16-img
  top: 302px;
  
.house__appartment3-15-img
  top: 331px;
  
.house__appartment3-14-img
  top: 359px;
  
.house__appartment3-13-img
  top: 387px;
  
.house__appartment3-12-img
  top: 416px;
  
.house__appartment3-11-img
  top: 444px;

.house__appartment3-10-img
  top: 473px;
  
.house__appartment3-9-img
  top: 502px;
  
.house__appartment3-8-img
  top: 530px;
  
.house__appartment3-7-img
  top: 559px;
  
.house__appartment3-6-img
  top: 589px;
  
.house__appartment3-5-img
  top: 618px;
  
.house__appartment3-4-img
  top: 648px;
  
.house__appartment3-3-img
  top: 677px;
  
.house__appartment3-2-img
  top: 705px;
  
.house__appartment3-1-img
  top: 735px;
  
.house__appartment4-17-link,
.house__appartment4-16-link,
.house__appartment4-15-link,
.house__appartment4-14-link,
.house__appartment4-13-link,
.house__appartment4-12-link,
.house__appartment4-11-link,
.house__appartment4-10-link,
.house__appartment4-9-link,
.house__appartment4-8-link,
.house__appartment4-7-link,
.house__appartment4-6-link,
.house__appartment4-5-link,
.house__appartment4-4-link,
.house__appartment4-3-link,
.house__appartment4-2-link,
.house__appartment4-1-link
  position: absolute;
  top: 354px;
  left: 862px;
  z-index: 20;
  display: block;
  width: 170px;
  height: 20px;
  transform: rotateZ(16deg);
  &:hover ~ .house__appartment4-17-img
    opacity 0.6
    
.house__appartment4-16-link
  top: 380px;
  &:hover ~ .house__appartment4-16-img
    opacity 0.6
    
.house__appartment4-15-link
  top: 404px;
  &:hover ~ .house__appartment4-15-img
    opacity 0.6
    
.house__appartment4-14-link
  top: 428px;
  transform: rotateZ(13deg);
  &:hover ~ .house__appartment4-14-img
    opacity 0.6
    
.house__appartment4-13-link
  top: 452px;
  transform: rotateZ(13deg);
  &:hover ~ .house__appartment4-13-img
    opacity 0.6
    
.house__appartment4-12-link
  top: 477px;
  transform: rotateZ(11deg);
  &:hover ~ .house__appartment4-12-img
    opacity 0.6
    
.house__appartment4-11-link
  top: 500px;
  transform: rotateZ(8deg);
  &:hover ~ .house__appartment4-11-img
    opacity 0.6
    
.house__appartment4-10-link
  top: 524px;
  transform: rotateZ(6deg);
  &:hover ~ .house__appartment4-10-img
    opacity 0.6
    
.house__appartment4-9-link
  top: 549px;
  transform: rotateZ(6deg);
  &:hover ~ .house__appartment4-9-img
    opacity 0.6
    
.house__appartment4-8-link
  top: 572px;
  transform: rotateZ(3deg);
  &:hover ~ .house__appartment4-8-img
    opacity 0.6
    
.house__appartment4-7-link
  top: 596px;
  transform: rotateZ(1deg);
  &:hover ~ .house__appartment4-7-img
    opacity 0.6
    
.house__appartment4-6-link
  top: 620px;
  transform: rotateZ(1deg);
  &:hover ~ .house__appartment4-6-img
    opacity 0.6
    
.house__appartment4-5-link
  top: 645px;
  transform: rotateZ(-1deg);
  &:hover ~ .house__appartment4-5-img
    opacity 0.6
    
.house__appartment4-4-link
  top: 668px;
  transform: rotateZ(-3deg);
  &:hover ~ .house__appartment4-4-img
    opacity 0.6
    
.house__appartment4-3-link
  top: 693px;
  transform: rotateZ(-4deg);
  &:hover ~ .house__appartment4-3-img
    opacity 0.6
    
.house__appartment4-2-link
  top: 717px;
  transform: rotateZ(-6deg);
  &:hover ~ .house__appartment4-2-img
    opacity 0.6
    
.house__appartment4-1-link
  top: 742px;
  transform: rotateZ(-7deg);
  height: 32px;
  &:hover ~ .house__appartment4-1-img
    opacity 0.6
    
.house__appartment4-17-img,
.house__appartment4-16-img,
.house__appartment4-15-img,
.house__appartment4-14-img,
.house__appartment4-13-img,
.house__appartment4-12-img,
.house__appartment4-11-img,
.house__appartment4-10-img,
.house__appartment4-9-img,
.house__appartment4-8-img,
.house__appartment4-7-img,
.house__appartment4-6-img,
.house__appartment4-5-img,
.house__appartment4-4-img,
.house__appartment4-3-img,
.house__appartment4-2-img,
.house__appartment4-1-img
  position: absolute;
  top: 327px;
  left: 861px;
  width: 169px;
  height: 76px;
  fill: #20c1e6;
  opacity: 0;
  transition: 0.2s ease;
  
.house__appartment4-16-img
  top: 351px;
  
.house__appartment4-15-img
  top: 375px;
  
.house__appartment4-14-img
  top: 399px;
  
.house__appartment4-13-img
  top: 423px;
  
.house__appartment4-12-img
  top: 447px;
  
.house__appartment4-11-img
  top: 471px;
  
.house__appartment4-10-img
  top: 495px;
  
.house__appartment4-9-img
  top: 518px;
  
.house__appartment4-8-img
  top: 543px;
  
.house__appartment4-7-img
  top: 568px;
  
.house__appartment4-6-img
  top: 592px;
  
.house__appartment4-5-img
  top: 618px;
  
.house__appartment4-4-img
  top: 641px;
  
.house__appartment4-3-img
  top: 665px;
  
.house__appartment4-2-img
  top: 690px;
  
.house__appartment4-1-img
  top: 715px;
  
.house__appartment5-17-link,
.house__appartment5-16-link,
.house__appartment5-15-link,
.house__appartment5-14-link,
.house__appartment5-13-link,
.house__appartment5-12-link,
.house__appartment5-11-link,
.house__appartment5-10-link,
.house__appartment5-9-link,
.house__appartment5-8-link,
.house__appartment5-7-link,
.house__appartment5-6-link,
.house__appartment5-5-link,
.house__appartment5-4-link,
.house__appartment5-3-link,
.house__appartment5-2-link,
.house__appartment5-1-link
  position: absolute;
  top: 357px;
  left: 1088px;
  z-index: 20;
  display: block;
  width: 190px;
  height: 20px;
  transform: rotateZ(-8deg);
  &:hover ~ .house__appartment5-17-img
    opacity 0.6
    
.house__appartment5-16-link
  top: 381px;
  &:hover ~ .house__appartment5-16-img
    opacity 0.6
    
.house__appartment5-15-link
  top: 405px;
  &:hover ~ .house__appartment5-15-img
    opacity 0.6
    
.house__appartment5-14-link
  top: 429px;
  transform: rotateZ(-5deg);
  &:hover ~ .house__appartment5-14-img
    opacity 0.6
    
.house__appartment5-13-link
  top: 453px;
  transform: rotateZ(-5deg);
  &:hover ~ .house__appartment5-13-img
    opacity 0.6
    
.house__appartment5-12-link
  top: 477px;
  transform: rotateZ(-5deg);
  &:hover ~ .house__appartment5-12-img
    opacity 0.6
    
.house__appartment5-11-link
  top: 500px;
  transform: rotateZ(-5deg);
  &:hover ~ .house__appartment5-11-img
    opacity 0.6
    
.house__appartment5-10-link
  top: 525px;
  transform: rotateZ(-2deg);
  &:hover ~ .house__appartment5-10-img
    opacity 0.6
    
.house__appartment5-9-link
  top: 549px;
  transform: rotateZ(-2deg);
  &:hover ~ .house__appartment5-9-img
    opacity 0.6
    
.house__appartment5-8-link
  top: 573px;
  transform: rotateZ(-2deg);
  &:hover ~ .house__appartment5-8-img
    opacity 0.6
    
.house__appartment5-7-link
  top: 597px;
  transform: rotateZ(0deg);
  &:hover ~ .house__appartment5-7-img
    opacity 0.6
    
.house__appartment5-6-link
  top: 621px;
  transform: rotateZ(0deg);
  &:hover ~ .house__appartment5-6-img
    opacity 0.6
    
.house__appartment5-5-link
  top: 645px;
  transform: rotateZ(0deg);
  &:hover ~ .house__appartment5-5-img
    opacity 0.6
    
.house__appartment5-4-link
  top: 670px;
  transform: rotateZ(2deg);
  &:hover ~ .house__appartment5-4-img
    opacity 0.6
    
.house__appartment5-3-link
  top: 693px;
  transform: rotateZ(2deg);
  &:hover ~ .house__appartment5-3-img
    opacity 0.6
    
.house__appartment5-2-link
  top: 716px;
  transform: rotateZ(2deg);
  &:hover ~ .house__appartment5-2-img
    opacity 0.6
    
.house__appartment5-1-link
  top: 738px;
  transform: rotateZ(2deg);
  height: 40px;
  &:hover ~ .house__appartment5-1-img
    opacity 0.6
    
.house__appartment5-17-img,
.house__appartment5-16-img,
.house__appartment5-15-img,
.house__appartment5-14-img,
.house__appartment5-13-img,
.house__appartment5-12-img,
.house__appartment5-11-img,
.house__appartment5-10-img,
.house__appartment5-9-img,
.house__appartment5-8-img,
.house__appartment5-7-img,
.house__appartment5-6-img,
.house__appartment5-5-img,
.house__appartment5-4-img,
.house__appartment5-3-img,
.house__appartment5-2-img,
.house__appartment5-1-img
  position: absolute;
  top: 333px;
  left: 1088px;
  width: 222px;
  height: 76px;
  fill: #20c1e6;
  opacity: 0;
  transition: 0.2s ease;
  
.house__appartment5-16-img
  top: 357px;
  
.house__appartment5-15-img
  top: 380px;
  
.house__appartment5-14-img
  top: 404px;
  
.house__appartment5-13-img
  top: 428px;
  
.house__appartment5-12-img
  top: 451px;
  
.house__appartment5-11-img
  top: 475px;
  
.house__appartment5-10-img
  top: 499px;
  
.house__appartment5-9-img
  top: 522px;
  
.house__appartment5-8-img
  top: 546px;
  
.house__appartment5-7-img
  top: 569px;
  
.house__appartment5-6-img
  top: 593px;
  
.house__appartment5-5-img
  top: 618px;
  
.house__appartment5-4-img
  top: 641px;
  
.house__appartment5-3-img
  top: 664px;
  
.house__appartment5-2-img
  top: 689px;
  
.house__appartment5-1-img
  top: 710px;