.page-content__description
  flex-grow 1
  width 70%

@media(max-width 1570px)
  .page-content
    position relative
    
@media(max-width 1440px)
  .page-content__description
    margin-left 0
    width 100%
    
@media(max-width 1024px)
  .page-content__description
    display: flex;
    flex-direction: column;